@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-custom text-gray-700;
}

body {
  @apply bg-gray-100;
}

.working-icon {
  @apply mx-auto mt-1 animate-bounce duration-500 ease-linear;
  max-width: 150px;
  max-height: 150px;
}

@media (min-width: 768px) {
  .working-icon {
    max-width: 250px;
    max-height: 250px;
  }
}
